{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "paceval-service-cloud - the Mathematical Engine as a Service in the cloud (e.g. for multi-party computations)",
    "description" : "# WHY DO I NEED A MATHEMATICAL ENGINE?\n\nMany connected devices or so-called IoT solutions require **complex mathematical calculations to work correctly or make decisions**. This can be, for example, a smartphone or a remote device that performs predictive analysis or a self-flying drone that evaluates objects in recorded videos or images **in real time during flight**. \nThese devices do not have the computing power to perform such mathematical calculations themselves. Or these devices, because they are battery powered, can't even do the **intensive math calculations because that consumes battery time**.\n\n**This Mathematical Engine as a Service in the cloud** provides a powerful and fast **remote math coprocessor service for IoT solutions** and is currently hosted on <a href=\"https://cloud.google.com\">Google Cloud Platform</a>. However, you can use any type of Kubernetes service such as <a href=\"https://azure.microsoft.com\">Microsoft Azure</a>, <a href=\"https://aws.amazon.com\">Amazon Web Services</a> or <a href=\"https://gardener.cloud/\">SAP Gardener</a> .\nEquipped with a simple interface, it will allow battery-powered devices to perform complex mathematical operations remotely and very quickly, **avoiding increasing power consumption of the device itself**.\n\n\n# HOW CAN I USE CALCULATIONS WITH THIS MATHEMATICAL ENGINE?\n\nTo create a calculation the device simply calls the following URL:\n\n<a href=\"http://paceval-service.cloud/Demo/?functionString=-sin(x*cos(x))^(1/y)&numberOfVariables=2&variables=x;y&values=0.5;2&interval=yes\">http://paceval-service.cloud/Demo/?functionString=-sin(x*cos(x))^(1/y)&numberOfVariables=2&variables=x;y&values=0.5;2&interval=yes</a> \n\nThis creates a calculation object for the function \"-sin(x*cos(x))^(1/y)\" and immediately performs the calculation with the \"2\" variables \"x; y\" for the values \"0.5; 2\". Variables and values are always separated by a \";\". With \"interval=yes\" it is indicated that **in addition to the computer-precise calculation, the upper and lower interval of the calculation is also given**. The exact value of the calculation is then in this interval.\n\nOf course you can specify any mathematical function and any number of variables and also other and longer variable names. :)\n\nIn addition, with the calculation you receive a reference to the generated calculation object for the function. From now on you can simply use this reference to get calculations for further values. **References are valid for 1 hour**, which is extended to 1 hour from the time of access each time a reference is accessed. If only the reference to a calculation object is used, the sometimes very long function does not have to be passed every time. **That saves time and computing power.**\nFor example, if you have received a reference \"handle_Computation: **115626720**\", simply call up the following URL for a further calculation with the values 0.46577 for x and 2.61 for y:\n<br><a href=\"http://paceval-service.cloud/GetComputationResult/?handle_pacevalComputation=115626720&values=0.46577;2.61\">http://paceval-service.cloud/GetComputationResult/?handle_pacevalComputation=<b>115626720</b>&values=0.46577;2.61</a> \n\nYou can also run cUrl instructions with your command line or your device directly on our test server (paceval-service.com), like the following:\n\n**GET –**\n\ncurl -X GET -k \"http://paceval-service.cloud:80/Demo/?functionString=-sin(x*cos(x))^(1/y)&numberOfVariables=2&variables=x;y&values=0.5;2&interval=yes\"\n\nor **POST –**\n\ncurl --data \"functionString=-sin(x*cos(x))^(1/y)&numberOfVariables=2&variables=x;y&values=0.5;2&interval=yes\" -X POST http://paceval-service.cloud:80/Demo/\n\n**Note:** Use the correct encoding in the functionString in the URL (GET) and data (POST) (e.g. replace the ‘+’ character with ‘%2B’).\n\n\nThis allows you to **perform complex calculations of any length and with any number of variables on the server**. Please note that this service runs on Kubernetes in autopilot mode. :) The creation of computation objects can therefore be slow the first time before Google Cloud Platform increases the resources.\n\n# HOW CAN I GET THIS MATHEMATICAL ENGINE ON MY OWN CLOUD?\n\n**!!to be updated!!**\n\nJust run this command line in the terminal to get and start the service with Docker:\n\n- LINUX FOR x64 PROCESSORS (Intel and AMD)\n\n**sudo docker pull paceval/paceval-service_linux_x64:latest**\n\n**sudo docker run -p 8080:8080 -d paceval/paceval-service_linux_x64**\n\n- LINUX FOR ARM64 PROCESSORS (e.g. Raspberry Pi or APPLE M1/M2)\n\n**sudo docker pull paceval/paceval-service_linux_arm64:latest**  \n\n**sudo docker run -p 8080:8080 -d paceval/paceval-service_linux_arm64**",
    "contact" : {
      "name" : "paceval.",
      "url" : "https://paceval.com",
      "email" : "info@paceval.com"
    },
    "version" : "4.04"
  },
  "externalDocs" : {
    "description" : "https://paceval.com/api/",
    "url" : "https://paceval.com/product-demo/"
  },
  "servers" : [ {
    "url" : "http://paceval-service.cloud"
  } ],
  "paths" : {
    "/Demo/" : {
      "get" : {
        "description" : "<b>This function call is for demo purposes only. It creates a remote calculation and if the creation was successful, this function returns the calculation result.</b> <br>I.e., it calls /CreateComputation and /GetComputationResult in one step, see Info above and the <b>Example</b>.<br> <b>Special case -</b> if you only want to perform a calculation without variables, you must set 'numberOfVariables' to 0 and enter a space (' ') for 'variables' and 'values'.",
        "parameters" : [ {
          "name" : "functionString",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "x*y-z"
        }, {
          "name" : "numberOfVariables",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "3"
        }, {
          "name" : "variables",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "x;y;z"
        }, {
          "name" : "values",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "0.534346;2;45.4536"
        }, {
          "name" : "interval",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "yes"
        } ],
        "responses" : {
          "200" : {
            "description" : "see <a href=\"https://paceval.com/api/\">https://paceval.com/api/</a>",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200"
                },
                "examples" : {
                  "0" : {
                    "value" : "{\n  \"error-message\": \"No error has occurred for this computation object (PACEVAL_ERR_NO_ERROR).\",\n  \"error-position\": \"\",\n  \"error-type\": \"[NO ERROR]\",\n  \"error-type-number\": 0,\n  \"handle_pacevalComputation\": \"ae0e6c4e-cc75-11ed-a0a8-be45bc2aafcd\",\n  \"interval-max-result\": \"-44.384908\",\n  \"interval-min-result\": \"-44.384908\",\n  \"result\": \"-44.384908\",\n  \"time-calculate\": \"0.000153s\",\n  \"version-number\": 4.04\n}"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "http://paceval-service.cloud"
        } ]
      },
      "post" : {
        "description" : "<b>This function call is for demo purposes only. It creates a remote calculation and if the creation was successful, this function returns the calculation result.</b> <br>I.e., it calls /CreateComputation and /GetComputationResult in one step, see Info above and the <b>Example</b>.<br> <b>Special case -</b> if you only want to perform a calculation without variables, you must set 'numberOfVariables' to 0 and enter a space (' ') for 'variables' and 'values'.",
        "parameters" : [ {
          "name" : "functionString",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "x-y*z"
        }, {
          "name" : "numberOfVariables",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "3"
        }, {
          "name" : "variables",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "x;y;z"
        }, {
          "name" : "values",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "0.534346;2;45.4536"
        }, {
          "name" : "interval",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "yes"
        } ],
        "responses" : {
          "200" : {
            "description" : "see <a href=\"https://paceval.com/api/\">https://paceval.com/api/</a>",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200"
                },
                "examples" : {
                  "0" : {
                    "value" : "{\n  \"error-message\": \"No error has occurred for this computation object (PACEVAL_ERR_NO_ERROR).\",\n  \"error-position\": \"\",\n  \"error-type\": \"[NO ERROR]\",\n  \"error-type-number\": 0,\n  \"handle_pacevalComputation\": \"bb2f2902-cc75-11ed-a0a8-be45bc2aafcd\",\n  \"interval-max-result\": \"-90.372854\",\n  \"interval-min-result\": \"-90.372854\",\n  \"result\": \"-90.372854\",\n  \"time-calculate\": \"0.000153s\",\n  \"version-number\": 4.04\n}"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "http://paceval-service.cloud"
        } ]
      },
      "servers" : [ {
        "url" : "http://paceval-service.cloud"
      } ]
    },
    "/CreateComputation/" : {
      "get" : {
        "description" : "<b>Creates a remote computation object with the specified attributes and returns its HANDLE.</b> <br><b>Annotation</b> The HANDLE is a token that represents the computation object that is managed by the remote service.",
        "parameters" : [ {
          "name" : "functionString",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "-sin(x*cos(x))^(1/y)"
        }, {
          "name" : "numberOfVariables",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "2"
        }, {
          "name" : "variables",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "x;y"
        }, {
          "name" : "interval",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "yes"
        } ],
        "responses" : {
          "200" : {
            "description" : "see <a href=\"https://paceval.com/api/\">https://paceval.com/api/</a>",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_1"
                },
                "examples" : {
                  "0" : {
                    "value" : "{\n  \"handle_pacevalComputation\": \"d7205132-06af-4bcc-9f39-a4de13017ed7\"\n}"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "http://paceval-service.cloud"
        } ]
      },
      "post" : {
        "description" : "<b>Creates a remote computation object with the specified attributes and returns its HANDLE.</b> <br><b>Annotation</b> The HANDLE is a token that represents the computation object that is managed by the remote service.",
        "parameters" : [ {
          "name" : "functionString",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "-sin(x*cos(x))^(1/y)"
        }, {
          "name" : "numberOfVariables",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "2"
        }, {
          "name" : "variables",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "x;y"
        }, {
          "name" : "interval",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "yes"
        } ],
        "responses" : {
          "200" : {
            "description" : "see <a href=\"https://paceval.com/api/\">https://paceval.com/api/</a>",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_1"
                },
                "examples" : {
                  "0" : {
                    "value" : "{\n  \"handle_pacevalComputation\": \"d7205132-06af-4bcc-9f39-a4de13017ed7\"\n}"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "http://paceval-service.cloud"
        } ]
      },
      "servers" : [ {
        "url" : "http://paceval-service.cloud"
      } ]
    },
    "/GetComputationResult/" : {
      "get" : {
        "description" : "<b>Solves the computation with the variables declared by /CreateComputation and with the given values.</b>",
        "parameters" : [ {
          "name" : "handle_pacevalComputation",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "c3754a48-86e3-481b-8716-fc91b433302d"
        }, {
          "name" : "values",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "0.5;2"
        } ],
        "responses" : {
          "200" : {
            "description" : "see <a href=\"https://paceval.com/api/\">https://paceval.com/api/</a>",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200"
                },
                "examples" : {
                  "0" : {
                    "value" : "{\n  \"handle_pacevalComputation\": \"c3754a48-86e3-481b-8716-fc91b433302d\",\n  \"result\": \"-0.651801782452278\",\n  \"interval-min-result\": \"-0.651801782452306\",\n  \"interval-max-result\": \"-0.65180178245225\",\n  \"error-type-number\": 0,\n  \"error-position\": \"\",\n  \"error-type\": \"[NO ERROR]\",\n  \"error-message\": \"No error has occurred for this computation object (PACEVAL_ERR_NO_ERROR).\",\n  \"time-calculate\": \"0.001541s\",\n  \"version-number\": 4.04\n}"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "http://paceval-service.cloud"
        } ]
      },
      "post" : {
        "description" : "<b>Solves the computation with the variables declared by /CreateComputation and with the given values.</b>",
        "parameters" : [ {
          "name" : "handle_pacevalComputation",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "c3754a48-86e3-481b-8716-fc91b433302d"
        }, {
          "name" : "values",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "0.5;2"
        } ],
        "responses" : {
          "200" : {
            "description" : "see <a href=\"https://paceval.com/api/\">https://paceval.com/api/</a>",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200"
                },
                "examples" : {
                  "0" : {
                    "value" : "{\n  \"handle_pacevalComputation\": \"c3754a48-86e3-481b-8716-fc91b433302d\",\n  \"result\": \"-0.651801782452278\",\n  \"interval-min-result\": \"-0.651801782452306\",\n  \"interval-max-result\": \"-0.65180178245225\",\n  \"error-type-number\": 0,\n  \"error-position\": \"\",\n  \"error-type\": \"[NO ERROR]\",\n  \"error-message\": \"No error has occurred for this computation object (PACEVAL_ERR_NO_ERROR).\",\n  \"time-calculate\": \"0.000388s\",\n  \"version-number\": 4.04\n}"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "http://paceval-service.cloud"
        } ]
      },
      "servers" : [ {
        "url" : "http://paceval-service.cloud"
      } ]
    },
    "/GetErrorInformation/" : {
      "get" : {
        "description" : "<b>Returns the computation object error type value.</b> <br>Possible errors are analysis and computation errors. <br>Errors during the analysis should be checked after creation of the object like /CreateComputation. <br>Errors during the computation should be checked after /GetComputationResult.",
        "parameters" : [ {
          "name" : "handle_pacevalComputation",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "d7205132-06af-4bcc-9f39-a4de13017ed7"
        } ],
        "responses" : {
          "200" : {
            "description" : "see <a href=\"https://paceval.com/api/\">https://paceval.com/api/</a>",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_2"
                },
                "examples" : {
                  "0" : {
                    "value" : "{\n  \"hasError\": false,\n  \"error-type-number\": 0,\n  \"error-position\": \"\",\n  \"error-operator\": \"(not defined)\",\n  \"error-type\": \"[NO ERROR]\",\n  \"error-message\": \"No error has occurred for this computation object (PACEVAL_ERR_NO_ERROR).\",\n  \"version-number\": 4.04\n}"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "http://paceval-service.cloud"
        } ]
      },
      "post" : {
        "description" : "<b>Returns the computation object error type value.</b> <br>Possible errors are analysis and computation errors. <br>Errors during the analysis should be checked after creation of the object like /CreateComputation. <br>Errors during the computation should be checked after /GetComputationResult.",
        "parameters" : [ {
          "name" : "handle_pacevalComputation",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "d7205132-06af-4bcc-9f39-a4de13017ed7"
        } ],
        "responses" : {
          "200" : {
            "description" : "see <a href=\"https://paceval.com/api/\">https://paceval.com/api/</a>",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_2"
                },
                "examples" : {
                  "0" : {
                    "value" : "{\n  \"hasError\": false,\n  \"error-type-number\": 0,\n  \"error-position\": \"\",\n  \"error-operator\": \"(not defined)\",\n  \"error-type\": \"[NO ERROR]\",\n  \"error-message\": \"No error has occurred for this computation object (PACEVAL_ERR_NO_ERROR).\",\n  \"version-number\": 4.04\n}"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "http://paceval-service.cloud"
        } ]
      },
      "servers" : [ {
        "url" : "http://paceval-service.cloud"
      } ]
    },
    "/GetComputationResultExt/" : {
      "get" : {
        "description" : "<b>Solves the computation with multiple values for the variables declared by /CreateComputation.</b> <br>You should use /GetComputationResultExt to get many results for a single computaton at once. This is useful, for example, when you need to analyze many different values very fast.",
        "parameters" : [ {
          "name" : "handle_pacevalComputation",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "ae0e6c4e-cc75-11ed-a0a8-be45bc2aafcd;bb2f2902-cc75-11ed-a0a8-be45bc2aafcd"
        }, {
          "name" : "numberOfCalculations",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "2"
        }, {
          "name" : "values",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "0.5;2;0.5;4"
        } ],
        "responses" : {
          "200" : {
            "description" : "see <a href=\"https://paceval.com/api/\">https://paceval.com/api/</a>",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_3"
                },
                "examples" : {
                  "0" : {
                    "value" : "[\n  {\n    \"error-message\": \"No error has occurred for this computation object (PACEVAL_ERR_NO_ERROR).\",\n    \"error-position\": \"\",\n    \"error-type\": \"[NO ERROR]\",\n    \"error-type-number\": 0,\n    \"handle_pacevalComputation\": \"ae0e6c4e-cc75-11ed-a0a8-be45bc2aafcd\",\n    \"interval-max-result\": \"-44.384908\",\n    \"interval-min-result\": \"-44.384908\",\n    \"result\": \"-44.384908\",\n    \"time-calculate\": \"0.000342s\",\n    \"version-number\": 4.04\n  },\n  {\n    \"error-message\": \"No error has occurred for this computation object (PACEVAL_ERR_NO_ERROR).\",\n    \"error-position\": \"\",\n    \"error-type\": \"[NO ERROR]\",\n    \"error-type-number\": 0,\n    \"handle_pacevalComputation\": \"bb2f2902-cc75-11ed-a0a8-be45bc2aafcd\",\n    \"interval-max-result\": \"-90.372854\",\n    \"interval-min-result\": \"-90.372854\",\n    \"result\": \"-90.372854\",\n    \"time-calculate\": \"0.000315s\",\n    \"version-number\": 4.04\n  }\n]"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "http://paceval-service.cloud"
        } ]
      },
      "post" : {
        "description" : "<b>Solves the computation with multiple values for the variables declared by /CreateComputation.</b> <br>You should use /GetComputationResultExt to get many results for a single computaton at once. This is useful, for example, when you need to analyze many different values very fast.",
        "parameters" : [ {
          "name" : "handle_pacevalComputation",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "d7205132-06af-4bcc-9f39-a4de13017ed7"
        }, {
          "name" : "numberOfCalculations",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "2"
        }, {
          "name" : "values",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "0.5;2;0.5;4"
        } ],
        "responses" : {
          "200" : {
            "description" : "see <a href=\"https://paceval.com/api/\">https://paceval.com/api/</a>",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_3"
                },
                "examples" : {
                  "0" : {
                    "value" : "{\n  \"handle_pacevalComputation\": \"d7205132-06af-4bcc-9f39-a4de13017ed7\",\n  \"number-of-multiple-values\": 2,\n  \"hasError\": false,\n  \"results\": [\n    \"-0.651801782452278\",\n    \"-0.807342419579374\"\n  ],\n  \"interval-min-results\": [\n    \"-0.651801782452306\",\n    \"-0.807342419579395\"\n  ],\n  \"interval-max-results\": [\n    \"-0.65180178245225\",\n    \"-0.807342419579352\"\n  ],\n  \"error-type-numbers\": [\n    0,\n    0\n  ],\n  \"time-calculate\": \"0.000527s\",\n  \"version-number\": 4.04\n}"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "http://paceval-service.cloud"
        } ]
      },
      "servers" : [ {
        "url" : "http://paceval-service.cloud"
      } ]
    },
    "/GetMultipleComputationsResults" : {
      "get" : {
        "description" : "<b>Solves multiple computations with values for the variables declared by /CreateComputation.</b> <br>You should use /GetMultipleComputationsResults to get results for multiple computations with the same variables at once (e.g. for Artificial neural network functions or Decision trees).<br><b>Annotation</b> You must use the same number of variables and the same declared variables. To do so you can simply declare all variables in each of the the calls for /CreateComputation. There is no performance issue in case a variable is declared but not used by a computation object.",
        "parameters" : [ {
          "name" : "handle_pacevalComputations",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "f451dc23-ccaa-11ed-b2e4-0678bc4b7b99;bb2f2902-cc75-11ed-a0a8-be45bc2aafcd"
        }, {
          "name" : "numberOfpacevalComputations",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "2"
        }, {
          "name" : "values",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "0.534346;2;45.4536"
        } ],
        "responses" : {
          "200" : {
            "description" : "see <a href=\"https://paceval.com/api/\">https://paceval.com/api/</a>",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_4"
                },
                "examples" : {
                  "0" : {
                    "value" : "[\n  {\n    \"error-message\": \"No error has occurred for this computation object (PACEVAL_ERR_NO_ERROR).\",\n    \"error-position\": \"\",\n    \"error-type\": \"[NO ERROR]\",\n    \"error-type-number\": 0,\n    \"handle_pacevalComputation\": \"f451dc23-ccaa-11ed-b2e4-0678bc4b7b99\",\n    \"interval-max-result\": \"-44.384908\",\n    \"interval-min-result\": \"-44.384908\",\n    \"result\": \"-44.384908\",\n    \"time-calculate\": \"0.000342s\",\n    \"version-number\": 4.04\n  },\n  {\n    \"error-message\": \"No error has occurred for this computation object (PACEVAL_ERR_NO_ERROR).\",\n    \"error-position\": \"\",\n    \"error-type\": \"[NO ERROR]\",\n    \"error-type-number\": 0,\n    \"handle_pacevalComputation\": \"bb2f2902-cc75-11ed-a0a8-be45bc2aafcd\",\n    \"interval-max-result\": \"-90.372854\",\n    \"interval-min-result\": \"-90.372854\",\n    \"result\": \"-90.372854\",\n    \"time-calculate\": \"0.000315s\",\n    \"version-number\": 4.04\n  }\n]"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "http://paceval-service.cloud"
        } ]
      },
      "post" : {
        "description" : "<b>Solves multiple computations with values for the variables declared by /CreateComputation.</b> <br>You should use /GetMultipleComputationsResults to get results for multiple computations with the same variables at once (e.g. for Artificial neural network functions or Decision trees).<br><b>Annotation</b> You must use the same number of variables and the same declared variables. To do so you can simply declare all variables in each of the the calls for /CreateComputation. There is no performance issue in case a variable is declared but not used by a computation object.",
        "parameters" : [ {
          "name" : "handle_pacevalComputations",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "f451dc23-ccaa-11ed-b2e4-0678bc4b7b99;bb2f2902-cc75-11ed-a0a8-be45bc2aafcd"
        }, {
          "name" : "numberOfpacevalComputations",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "2"
        }, {
          "name" : "values",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "0.534346;2;45.4536"
        } ],
        "responses" : {
          "200" : {
            "description" : "see <a href=\"https://paceval.com/api/\">https://paceval.com/api/</a>",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_4"
                },
                "examples" : {
                  "0" : {
                    "value" : "[\n  {\n    \"error-message\": \"No error has occurred for this computation object (PACEVAL_ERR_NO_ERROR).\",\n    \"error-position\": \"\",\n    \"error-type\": \"[NO ERROR]\",\n    \"error-type-number\": 0,\n    \"handle_pacevalComputation\": \"f451dc23-ccaa-11ed-b2e4-0678bc4b7b99\",\n    \"interval-max-result\": \"-44.384908\",\n    \"interval-min-result\": \"-44.384908\",\n    \"result\": \"-44.384908\",\n    \"time-calculate\": \"0.000342s\",\n    \"version-number\": 4.04\n  },\n  {\n    \"error-message\": \"No error has occurred for this computation object (PACEVAL_ERR_NO_ERROR).\",\n    \"error-position\": \"\",\n    \"error-type\": \"[NO ERROR]\",\n    \"error-type-number\": 0,\n    \"handle_pacevalComputation\": \"bb2f2902-cc75-11ed-a0a8-be45bc2aafcd\",\n    \"interval-max-result\": \"-90.372854\",\n    \"interval-min-result\": \"-90.372854\",\n    \"result\": \"-90.372854\",\n    \"time-calculate\": \"0.000315s\",\n    \"version-number\": 4.04\n  }\n]"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "http://paceval-service.cloud"
        } ]
      },
      "servers" : [ {
        "url" : "http://paceval-service.cloud"
      } ]
    },
    "/GetMultipleComputationsResultsExt" : {
      "get" : {
        "description" : "<b>Solves multiple computations with multiple values for the variables declared by /CreateComputation.</b> <br>You should use /GetMultipleComputationsResults to get results for multiple computations with different variables at once (e.g. for sets of Artificial neural network functions or Decision trees).",
        "parameters" : [ {
          "name" : "handle_pacevalComputations",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "f451dc23-ccaa-11ed-b2e4-0678bc4b7b99;bb2f2902-cc75-11ed-a0a8-be45bc2aafcd"
        }, {
          "name" : "numberOfpacevalComputations",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "2"
        }, {
          "name" : "values",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "0.534346;2;45.4536;0.672689;3;53.2752"
        } ],
        "responses" : {
          "200" : {
            "description" : "see <a href=\"https://paceval.com/api/\">https://paceval.com/api/</a>",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_4"
                },
                "examples" : {
                  "0" : {
                    "value" : "[\n  {\n    \"error-message\": \"No error has occurred for this computation object (PACEVAL_ERR_NO_ERROR).\",\n    \"error-position\": \"\",\n    \"error-type\": \"[NO ERROR]\",\n    \"error-type-number\": 0,\n    \"handle_pacevalComputation\": \"f451dc23-ccaa-11ed-b2e4-0678bc4b7b99\",\n    \"interval-max-result\": \"-44.384908\",\n    \"interval-min-result\": \"-44.384908\",\n    \"result\": \"-44.384908\",\n    \"time-calculate\": \"0.000320s\",\n    \"version-number\": 4.04\n  },\n  {\n    \"error-message\": \"No error has occurred for this computation object (PACEVAL_ERR_NO_ERROR).\",\n    \"error-position\": \"\",\n    \"error-type\": \"[NO ERROR]\",\n    \"error-type-number\": 0,\n    \"handle_pacevalComputation\": \"bb2f2902-cc75-11ed-a0a8-be45bc2aafcd\",\n    \"interval-max-result\": \"-159.152911\",\n    \"interval-min-result\": \"-159.152911\",\n    \"result\": \"-159.152911\",\n    \"time-calculate\": \"0.000372s\",\n    \"version-number\": 4.04\n  }\n]"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "http://paceval-service.cloud"
        } ]
      },
      "post" : {
        "description" : "<b>Solves multiple computations with multiple values for the variables declared by /CreateComputation.</b> <br>You should use /GetMultipleComputationsResults to get results for multiple computations with different variables at once (e.g. for sets of Artificial neural network functions or Decision trees).",
        "parameters" : [ {
          "name" : "handle_pacevalComputations",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "f451dc23-ccaa-11ed-b2e4-0678bc4b7b99;bb2f2902-cc75-11ed-a0a8-be45bc2aafcd"
        }, {
          "name" : "numberOfpacevalComputations",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "2"
        }, {
          "name" : "values",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "0.534346;2;45.4536;0.672689;3;53.2752"
        } ],
        "responses" : {
          "200" : {
            "description" : "see <a href=\"https://paceval.com/api/\">https://paceval.com/api/</a>",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_4"
                },
                "examples" : {
                  "0" : {
                    "value" : "[\n  {\n    \"error-message\": \"No error has occurred for this computation object (PACEVAL_ERR_NO_ERROR).\",\n    \"error-position\": \"\",\n    \"error-type\": \"[NO ERROR]\",\n    \"error-type-number\": 0,\n    \"handle_pacevalComputation\": \"f451dc23-ccaa-11ed-b2e4-0678bc4b7b99\",\n    \"interval-max-result\": \"-44.384908\",\n    \"interval-min-result\": \"-44.384908\",\n    \"result\": \"-44.384908\",\n    \"time-calculate\": \"0.000320s\",\n    \"version-number\": 4.04\n  },\n  {\n    \"error-message\": \"No error has occurred for this computation object (PACEVAL_ERR_NO_ERROR).\",\n    \"error-position\": \"\",\n    \"error-type\": \"[NO ERROR]\",\n    \"error-type-number\": 0,\n    \"handle_pacevalComputation\": \"bb2f2902-cc75-11ed-a0a8-be45bc2aafcd\",\n    \"interval-max-result\": \"-159.152911\",\n    \"interval-min-result\": \"-159.152911\",\n    \"result\": \"-159.152911\",\n    \"time-calculate\": \"0.000372s\",\n    \"version-number\": 4.04\n  }\n]"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "http://paceval-service.cloud"
        } ]
      },
      "servers" : [ {
        "url" : "http://paceval-service.cloud"
      } ]
    },
    "/GetComputationInformationXML" : {
      "get" : {
        "description" : "<b>A helper function for getting data from a computation object</b>, such as the number of cores in the system, the number of threads used or the cache hits in the computations with that particular computation object.",
        "parameters" : [ {
          "name" : "handle_pacevalComputation",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "d7205132-06af-4bcc-9f39-a4de13017ed7"
        } ],
        "responses" : {
          "200" : {
            "description" : "see <a href=\"https://paceval.com/api/\">https://paceval.com/api/</a>",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_5"
                },
                "examples" : {
                  "0" : {
                    "value" : "{\"information-XML\":\"<?xml version=\\\"1.0\\\" encoding=\\\"ISO-8859-1\\\" standalone=\\\"yes\\\"?><br><br><paceval.-Computation><br><br> <version>4.04</version><br><br> <function50Characters>-sin(x*cos(x))^(1/y)</function50Characters><br><br> <functionLength>20</functionLength><br><br> <numberOfVariables>2</numberOfVariables><br><br> <useInterval>true</useInterval><br><br> <errorMessage>No error has occurred for this computation object (PACEVAL_ERR_NO_ERROR).</errorMessage><br><br> <errorDetails>[NO ERROR]</errorDetails><br><br> <maxPrecisionType>long double</maxPrecisionType><br><br> <numberOfNodes>11</numberOfNodes><br><br> <numberOfCores>4</numberOfCores><br><br> <numberOfThreads>1</numberOfThreads><br><br> <numberOfThreadsFailure>0</numberOfThreadsFailure><br><br> <cacheTypes>Inner Caching, Outer Caching, Lookahead Caching</cacheTypes><br><br> <cacheHitsACC>46</cacheHitsACC><br><br></paceval.-Computation><br><br>\",\"version-details\":\"[libpaceval_ARM64_LIB.a] and [libpacevalARM64_sharedLIB.so][4.04, 64 bit] developer version (non-commercial use only) - Copyright 2015-2022. - All rights reserved. (paceval.[Registered Trade Mark])\",\"version-number\":4.04}"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "http://paceval-service.cloud"
        } ]
      },
      "post" : {
        "description" : "<b>A helper function for getting data from a computation object</b>, such as the number of cores in the system, the number of threads used or the cache hits in the computations with that particular computation object.",
        "parameters" : [ {
          "name" : "handle_pacevalComputation",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "d7205132-06af-4bcc-9f39-a4de13017ed7"
        } ],
        "responses" : {
          "200" : {
            "description" : "see <a href=\"https://paceval.com/api/\">https://paceval.com/api/</a>",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_5"
                },
                "examples" : {
                  "0" : {
                    "value" : "{\"information-XML\":\"<?xml version=\\\"1.0\\\" encoding=\\\"ISO-8859-1\\\" standalone=\\\"yes\\\"?><br><br><paceval.-Computation><br><br> <version>4.04</version><br><br> <function50Characters>-sin(x*cos(x))^(1/y)</function50Characters><br><br> <functionLength>20</functionLength><br><br> <numberOfVariables>2</numberOfVariables><br><br> <useInterval>true</useInterval><br><br> <errorMessage>No error has occurred for this computation object (PACEVAL_ERR_NO_ERROR).</errorMessage><br><br> <errorDetails>[NO ERROR]</errorDetails><br><br> <maxPrecisionType>long double</maxPrecisionType><br><br> <numberOfNodes>11</numberOfNodes><br><br> <numberOfCores>4</numberOfCores><br><br> <numberOfThreads>1</numberOfThreads><br><br> <numberOfThreadsFailure>0</numberOfThreadsFailure><br><br> <cacheTypes>Inner Caching, Outer Caching, Lookahead Caching</cacheTypes><br><br> <cacheHitsACC>38</cacheHitsACC><br><br></paceval.-Computation><br><br>\",\"version-details\":\"[libpaceval_ARM64_LIB.a] and [libpacevalARM64_sharedLIB.so][4.04, 64 bit] developer version (non-commercial use only) - Copyright 2015-2022. - All rights reserved. (paceval.[Registered Trade Mark])\",\"version-number\":4.04}"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "http://paceval-service.cloud"
        } ]
      },
      "servers" : [ {
        "url" : "http://paceval-service.cloud"
      } ]
    }
  },
  "components" : {
    "schemas" : {
      "inline_response_200" : {
        "type" : "object",
        "properties" : {
          "result" : {
            "type" : "string"
          },
          "error-position" : {
            "type" : "string"
          },
          "error-message" : {
            "type" : "string"
          },
          "time-calculate" : {
            "type" : "string"
          },
          "interval-max-result" : {
            "type" : "string"
          },
          "error-type" : {
            "type" : "string"
          },
          "error-type-number" : {
            "type" : "integer"
          },
          "handle_pacevalComputation" : {
            "type" : "integer"
          },
          "version-number" : {
            "type" : "number"
          },
          "interval-min-result" : {
            "type" : "string"
          }
        }
      },
      "inline_response_200_1" : {
        "type" : "object",
        "properties" : {
          "error-position" : {
            "type" : "string"
          },
          "error-message" : {
            "type" : "string"
          },
          "time-create" : {
            "type" : "string"
          },
          "function-10chars" : {
            "type" : "string"
          },
          "function-length" : {
            "type" : "integer"
          },
          "error-type" : {
            "type" : "string"
          },
          "error-type-number" : {
            "type" : "integer"
          },
          "handle_pacevalComputation" : {
            "type" : "integer"
          },
          "version-number" : {
            "type" : "number"
          }
        }
      },
      "inline_response_200_2" : {
        "type" : "object",
        "properties" : {
          "error-position" : {
            "type" : "string"
          },
          "error-message" : {
            "type" : "string"
          },
          "error-type" : {
            "type" : "string"
          },
          "hasError" : {
            "type" : "boolean"
          },
          "error-type-number" : {
            "type" : "integer"
          },
          "handle_pacevalComputation" : {
            "type" : "integer"
          },
          "version-number" : {
            "type" : "number"
          },
          "error-operator" : {
            "type" : "string"
          }
        }
      },
      "inline_response_200_3" : {
        "type" : "object",
        "properties" : {
          "number-of-multiple-values" : {
            "type" : "integer"
          },
          "interval-max-results" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "time-calculate" : {
            "type" : "string"
          },
          "hasError" : {
            "type" : "boolean"
          },
          "error-type-numbers" : {
            "type" : "array",
            "items" : {
              "type" : "integer"
            }
          },
          "handle_pacevalComputation" : {
            "type" : "integer"
          },
          "interval-min-results" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "version-number" : {
            "type" : "number"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "inline_response_200_4" : {
        "type" : "object",
        "properties" : {
          "interval-max-results" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "time-calculate" : {
            "type" : "string"
          },
          "number-of-multiple-computations" : {
            "type" : "integer"
          },
          "handle_pacevalComputations" : {
            "type" : "array",
            "items" : {
              "type" : "integer"
            }
          },
          "hasError" : {
            "type" : "boolean"
          },
          "error-type-numbers" : {
            "type" : "array",
            "items" : {
              "type" : "integer"
            }
          },
          "interval-min-results" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "version-number" : {
            "type" : "number"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "inline_response_200_5" : {
        "type" : "object",
        "properties" : {
          "information-XML" : {
            "type" : "string"
          },
          "version-details" : {
            "type" : "string"
          },
          "handle_pacevalComputation" : {
            "type" : "integer"
          },
          "version-number" : {
            "type" : "number"
          }
        }
      }
    }
  }
}