{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Eclipse Diafanis - the Mathematical Engine as a Service (e.g. for multi-party computations)",
    "description" : "# WHY DO I NEED A MATHEMATICAL ENGINE?\n\nMany IoT solutions require **complex mathematical calculations to work correctly or make decisions**. This can be a self-flying drone or a car that evaluates objects in recorded videos or images **in real time during flight**. \nThese IoT devices do not have the computing power to perform such mathematical calculations themselves. Or these IoT solutions, because they are battery powered, can't even do the **intensive math calculations because that consumes battery time**.\n\n**This Mathematical Engine as a Service** provides a powerful and fast **remote math coprocessor service for IoT devices** based on a Linux server for x86 (Intel and AMD) or ARM64 processors.\nEquipped with a simple interface, it will allow IoT devices to perform complex mathematical operations remotely and very quickly, thus **avoiding increasing electrical consumption in IoT devices**.\n\n\n# HOW CAN I USE CALCULATIONS WITH THIS MATHEMATICAL ENGINE?\n\nTo create a calculation the IoT device simply calls the following URL:\n\n<a href=\"http://diafanis.cloud/Demo/?functionString=-sin(x*cos(x))^(1/y)&numberOfVariables=2&variables=x;y&values=0.5;2&interval=yes\">http://diafanis.cloud/Demo/?functionString=-sin(x*cos(x))^(1/y)&numberOfVariables=2&variables=x;y&values=0.5;2&interval=yes</a> \n\nThis creates a calculation object for the function \"-sin(x*cos(x))^(1/y)\" and immediately performs the calculation with the \"2\" variables \"x; y\" for the values \"0.5; 2\". Variables and values are always separated by a \";\". With \"interval=yes\" it is indicated that **in addition to the computer-precise calculation, the upper and lower interval of the calculation is also given**. The exact value of the calculation is then in this interval.\n\nOf course you can specify any mathematical function and any number of variables and also other and longer variable names. :)\n\nIn addition, with the calculation you receive a reference to the generated calculation object for the function. From now on you can simply use this reference to get calculations for further values. **References are valid for 1 hour**, which is extended to 1 hour from the time of access each time a reference is accessed. If only the reference to a calculation object is used, the sometimes very long function does not have to be passed every time. **That saves time and computing power.**\nFor example, if you have received a reference \"handle_Computation: **115626720**\", simply call up the following URL for a further calculation with the values 0.46577 for x and 2.61 for y:\n<br><a href=\"http://diafanis.cloud/GetComputationResult/?handle_diafanisComputation=115626720&values=0.46577;2.61\">http://diafanis.cloud/GetComputationResult/?handle_diafanisComputation=<b>115626720</b>&values=0.46577;2.61</a> \n\nYou can also run cUrl instructions with your command line or your IoT device directly on our test server (http://diafanis.cloud), like the following:\n\n**GET –**\n\ncurl -X GET -k \"http://diafanis.cloud:80/Demo/?functionString=-sin(x*cos(x))^(1/y)&numberOfVariables=2&variables=x;y&values=0.5;2&interval=yes\"\n\nor **POST –**\n\ncurl --data \"functionString=-sin(x*cos(x))^(1/y)&numberOfVariables=2&variables=x;y&values=0.5;2&interval=yes\" -X POST http://diafanis.cloud:80/Demo/\n\n**Note:** Use the correct encoding in the functionString in the URL (GET) and data (POST) (e.g. replace the ‘+’ character with ‘%2B’).\n\n\nThis allows you to **perform complex calculations of any length and with any number of variables on the server**. Please note that this is our test server. :) This test server is a 4-core ARM64 Linux server with only 4GB of memory, although it's pretty fast.\n\n# HOW CAN I GET THIS MATHEMATICAL ENGINE ON MY DEVICE?\n\nJust run this command line in the terminal to get and start the service with Docker:\n\n- LINUX FOR x86 PROCESSORS (Intel and AMD)\n\n**sudo docker pull diafanis/diafanis-service_linux_x64:latest**\n\n**sudo docker run -p 8080:8080 -d diafanis/diafanis-service_linux_x64**\n\n- LINUX FOR ARM64 PROCESSORS (e.g. Raspberry Pi or APPLE M1/M2)\n\n**sudo docker pull diafanis/diafanis-service_linux_arm64:latest**  \n\n**sudo docker run -p 8080:8080 -d diafanis/diafanis-service_linux_arm64**",
    "contact" : {
      "name" : "diafanis",
      "url" : "https://app.swaggerhub.com/apis/diafanis/mathematical-engine_as_a_service/4.04",
      "email" : "info@diafanis.cloud"
    },
    "version" : "4.04"
  },
  "externalDocs" : {
    "description" : "https://projects.eclipse.org/projects/iot.diafanis/developer",
    "url" : "https://projects.eclipse.org/projects/iot.diafanis"
  },
  "servers" : [ {
    "url" : "http://diafanis.cloud"
  } ],
  "paths" : {
    "/Demo/" : {
      "get" : {
        "description" : "<b>This function call is for demo purposes only. It creates a remote calculation and if the creation was successful, this function returns the calculation result.</b> <br>I.e., it calls /diafanis_CreateComputation and /GetComputationResult in one step, see Info above and the <b>Example</b>.",
        "parameters" : [ {
          "name" : "functionString",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "x*y-z"
        }, {
          "name" : "numberOfVariables",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "3"
        }, {
          "name" : "variables",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "x;y;z"
        }, {
          "name" : "values",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "0.534346;2;45.4536"
        }, {
          "name" : "interval",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "yes"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200"
                },
                "examples" : {
                  "0" : {
                    "value" : "{\"handle_diafanisComputation\":117867040,\"result\":\"-44.384908\",\"interval-min-result\":\"-44.384908\",\"interval-max-result\":\"-44.384908\",\"error-type-number\":0,\"error-position\":\"\",\"error-type\":\"[NO ERROR]\",\"error-message\":\"No error has occurred for this computation object (PACEVAL_ERR_NO_ERROR).\",\"time-calculate\":\"0.000326s\",\"version-number\":4.04}"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "http://diafanis.cloud"
        } ]
      },
      "post" : {
        "description" : "<b>This function call is for demo purposes only. It creates a remote calculation and if the creation was successful, this function returns the calculation result.</b> <br>I.e., it calls /diafanis_CreateComputation and /GetComputationResult in one step, see Info above and the <b>Example</b>.",
        "parameters" : [ {
          "name" : "functionString",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "x-y*z"
        }, {
          "name" : "numberOfVariables",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "3"
        }, {
          "name" : "variables",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "x;y;z"
        }, {
          "name" : "values",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "0.534346;2;45.4536"
        }, {
          "name" : "interval",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "yes"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200"
                },
                "examples" : {
                  "0" : {
                    "value" : "{\"handle_diafanisComputation\":118054176,\"result\":\"-90.372854\",\"interval-min-result\":\"-90.372854\",\"interval-max-result\":\"-90.372854\",\"error-type-number\":0,\"error-position\":\"\",\"error-type\":\"[NO ERROR]\",\"error-message\":\"No error has occurred for this computation object (PACEVAL_ERR_NO_ERROR).\",\"time-calculate\":\"0.000322s\",\"version-number\":4.04}"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "http://diafanis.cloud"
        } ]
      },
      "servers" : [ {
        "url" : "http://diafanis.cloud"
      } ]
    },
    "/CreateComputation/" : {
      "get" : {
        "description" : "<b>Creates a remote computation object with the specified attributes and returns its HANDLE.</b> <br><b>Annotation</b> The HANDLE is a token that represents the computation object that is managed by the remote service.",
        "parameters" : [ {
          "name" : "functionString",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "-sin(x*cos(x))^(1/y)"
        }, {
          "name" : "numberOfVariables",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "2"
        }, {
          "name" : "variables",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "x;y"
        }, {
          "name" : "interval",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "yes"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_1"
                },
                "examples" : {
                  "0" : {
                    "value" : "{\"handle_diafanisComputation\":115649680,\"function-10chars\":\"-sin(x*cos(...)\",\"function-length\":20,\"error-type-number\":0,\"error-position\":\"\",\"error-type\":\"[NO ERROR]\",\"error-message\":\"No error has occurred for this computation object (PACEVAL_ERR_NO_ERROR).\",\"time-create\":\"0.000440s\",\"version-number\":4.04}"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "http://diafanis.cloud"
        } ]
      },
      "post" : {
        "description" : "<b>Creates a remote computation object with the specified attributes and returns its HANDLE.</b> <br><b>Annotation</b> The HANDLE is a token that represents the computation object that is managed by the remote service.",
        "parameters" : [ {
          "name" : "functionString",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "-sin(x*cos(x))^(1/y)"
        }, {
          "name" : "numberOfVariables",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "2"
        }, {
          "name" : "variables",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "x;y"
        }, {
          "name" : "interval",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "yes"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_1"
                },
                "examples" : {
                  "0" : {
                    "value" : "{\"handle_diafanisComputation\":119406224,\"function-10chars\":\"-sin(x*cos(...)\",\"function-length\":20,\"error-type-number\":0,\"error-position\":\"\",\"error-type\":\"[NO ERROR]\",\"error-message\":\"No error has occurred for this computation object (PACEVAL_ERR_NO_ERROR).\",\"time-create\":\"0.000276s\",\"version-number\":4.04}"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "http://diafanis.cloud"
        } ]
      },
      "servers" : [ {
        "url" : "http://diafanis.cloud"
      } ]
    },
    "/GetComputationResult/" : {
      "get" : {
        "description" : "<b>Solves the computation with the variables declared by /CreateComputation and with the given values.</b>",
        "parameters" : [ {
          "name" : "values",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "0.5;2"
        }, {
          "name" : "handle_diafanisComputation",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "115649680"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200"
                },
                "examples" : {
                  "0" : {
                    "value" : "{\"handle_diafanisComputation\":115649680,\"result\":\"-0.651801782452278\",\"interval-min-result\":\"-0.651801782452306\",\"interval-max-result\":\"-0.65180178245225\",\"error-type-number\":0,\"error-position\":\"\",\"error-type\":\"[NO ERROR]\",\"error-message\":\"No error has occurred for this computation object (PACEVAL_ERR_NO_ERROR).\",\"time-calculate\":\"0.000690s\",\"version-number\":4.04}"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "http://diafanis.cloud"
        } ]
      },
      "post" : {
        "description" : "<b>Solves the computation with the variables declared by /CreateComputation and with the given values.</b>",
        "parameters" : [ {
          "name" : "values",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "0.5;2"
        }, {
          "name" : "handle_diafanisComputation",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "119406224"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200"
                },
                "examples" : {
                  "0" : {
                    "value" : "{\"handle_diafanisComputation\":119406224,\"result\":\"-0.651801782452278\",\"interval-min-result\":\"-0.651801782452306\",\"interval-max-result\":\"-0.65180178245225\",\"error-type-number\":0,\"error-position\":\"\",\"error-type\":\"[NO ERROR]\",\"error-message\":\"No error has occurred for this computation object (PACEVAL_ERR_NO_ERROR).\",\"time-calculate\":\"0.000808s\",\"version-number\":4.04}"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "http://diafanis.cloud"
        } ]
      },
      "servers" : [ {
        "url" : "http://diafanis.cloud"
      } ]
    },
    "/GetErrorInformation/" : {
      "get" : {
        "description" : "<b>Returns the computation object error type value.</b> <br>Possible errors are analysis and computation errors. <br>Errors during the analysis should be checked after creation of the object like /CreateComputation. <br>Errors during the computation should be checked after /GetComputationResult.",
        "parameters" : [ {
          "name" : "handle_diafanisComputation",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "115649680"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_2"
                },
                "examples" : {
                  "0" : {
                    "value" : "{\"handle_diafanisComputation\":115649680,\"hasError\":false,\"error-type-number\":0,\"error-position\":\"\",\"error-operator\":\"(not defined)\",\"error-type\":\"[NO ERROR]\",\"error-message\":\"No error has occurred for this computation object (PACEVAL_ERR_NO_ERROR).\",\"version-number\":4.04}"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "http://diafanis.cloud"
        } ]
      },
      "post" : {
        "description" : "<b>Returns the computation object error type value.</b> <br>Possible errors are analysis and computation errors. <br>Errors during the analysis should be checked after creation of the object like /CreateComputation. <br>Errors during the computation should be checked after /GetComputationResult.",
        "parameters" : [ {
          "name" : "handle_diafanisComputation",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "119406224"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_2"
                },
                "examples" : {
                  "0" : {
                    "value" : "{\"handle_diafanisComputation\":119406224,\"hasError\":false,\"error-type-number\":0,\"error-position\":\"\",\"error-operator\":\"(not defined)\",\"error-type\":\"[NO ERROR]\",\"error-message\":\"No error has occurred for this computation object (PACEVAL_ERR_NO_ERROR).\",\"version-number\":4.04}"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "http://diafanis.cloud"
        } ]
      },
      "servers" : [ {
        "url" : "http://diafanis.cloud"
      } ]
    },
    "/GetComputationResultExt/" : {
      "get" : {
        "description" : "<b>Solves the computation with multiple values for the variables declared by /diafanis_CreateComputation.</b> <br>You should use /GetComputationResultExt to get many results for a single computaton at once. This is useful, for example, when you need to analyze many different values very fast.",
        "parameters" : [ {
          "name" : "values",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "0.5;2;0.5;4"
        }, {
          "name" : "numberOfCalculations",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "2"
        }, {
          "name" : "handle_diafanisComputation",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "115649680"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_3"
                },
                "examples" : {
                  "0" : {
                    "value" : "{\"number-of-multiple-values\":2,\"handle_diafanisComputation\":115649680,\"hasError\":false,\"results\":[\"-0.651801782452278\",\"-0.807342419579374\"],\"interval-min-results\":[\"-0.651801782452306\",\"-0.807342419579395\"],\"interval-max-results\":[\"-0.65180178245225\",\"-0.807342419579352\"],\"error-type-numbers\":[0,0],\"time-calculate\":\"0.000846s\",\"version-number\":4.04}"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "http://diafanis.cloud"
        } ]
      },
      "post" : {
        "description" : "<b>Solves the computation with multiple values for the variables declared by /diafanis_CreateComputation.</b> <br>You should use /GetComputationResultExt to get many results for a single computaton at once. This is useful, for example, when you need to analyze many different values very fast.",
        "parameters" : [ {
          "name" : "values",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "0.5;2;0.5;4"
        }, {
          "name" : "numberOfCalculations",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "2"
        }, {
          "name" : "handle_diafanisComputation",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "119406224"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_3"
                },
                "examples" : {
                  "0" : {
                    "value" : "{\"number-of-multiple-values\":2,\"handle_diafanisComputation\":119406224,\"hasError\":false,\"results\":[\"-0.651801782452278\",\"-0.807342419579374\"],\"interval-min-results\":[\"-0.651801782452306\",\"-0.807342419579395\"],\"interval-max-results\":[\"-0.65180178245225\",\"-0.807342419579352\"],\"error-type-numbers\":[0,0],\"time-calculate\":\"0.000881s\",\"version-number\":4.04}"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "http://diafanis.cloud"
        } ]
      },
      "servers" : [ {
        "url" : "http://diafanis.cloud"
      } ]
    },
    "/GetMultipleComputationsResults" : {
      "get" : {
        "description" : "<b>Solves multiple computations with values for the variables declared by /diafanis_CreateComputation.</b> <br>You should use /GetMultipleComputationsResults to get results for multiple computations at once (e.g. for Artificial neural network functions or Decision trees).<br><b>Annotation</b> You must use the same number of variables and the same declared variables. To do so you can simply declare all variables in each of the the calls for /CreateComputation. There is no performance issue in case a variable is declared but not used by a computation object.",
        "parameters" : [ {
          "name" : "call",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "diafanis_GetMultipleComputationsResults"
        }, {
          "name" : "values",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "0.534346;2;45.4536"
        }, {
          "name" : "handle_diafanisComputations",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "117867040;118054176"
        }, {
          "name" : "numberOfdiafanisComputations",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "2"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_4"
                },
                "examples" : {
                  "0" : {
                    "value" : "{\"number-of-multiple-computations\":2,\"handle_diafanisComputations\":[117867040,118054176],\"hasError\":false,\"results\":[\"-44.384908\",\"-90.372854\"],\"interval-min-results\":[\"-44.384908\",\"-90.372854\"],\"interval-max-results\":[\"-44.384908\",\"-90.372854\"],\"error-type-numbers\":[0,0],\"time-calculate\":\"0.000676s\",\"version-number\":4.04}"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "http://diafanis.cloud"
        } ]
      },
      "post" : {
        "description" : "<b>Solves multiple computations with values for the variables declared by /diafanis_CreateComputation.</b> <br>You should use /GetMultipleComputationsResults to get results for multiple computations at once (e.g. for Artificial neural network functions or Decision trees).<br><b>Annotation</b> You must use the same number of variables and the same declared variables. To do so you can simply declare all variables in each of the the calls for /CreateComputation. There is no performance issue in case a variable is declared but not used by a computation object.",
        "parameters" : [ {
          "name" : "call",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "diafanis_GetMultipleComputationsResults"
        }, {
          "name" : "values",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "0.534346;2;45.4536"
        }, {
          "name" : "handle_diafanisComputations",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "117867040;118054176"
        }, {
          "name" : "numberOfdiafanisComputations",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "2"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_4"
                },
                "examples" : {
                  "0" : {
                    "value" : "{\"number-of-multiple-computations\":2,\"handle_diafanisComputations\":[117867040,118054176],\"hasError\":false,\"results\":[\"-44.384908\",\"-90.372854\"],\"interval-min-results\":[\"-44.384908\",\"-90.372854\"],\"interval-max-results\":[\"-44.384908\",\"-90.372854\"],\"error-type-numbers\":[0,0],\"time-calculate\":\"0.000360s\",\"version-number\":4.04}"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "http://diafanis.cloud"
        } ]
      },
      "servers" : [ {
        "url" : "http://diafanis.cloud"
      } ]
    },
    "/GetComputationInformationXML" : {
      "get" : {
        "description" : "<b>A helper function for getting data from a computation object</b>, such as the number of cores in the system, the number of threads used or the cache hits in the computations with that particular computation object.",
        "parameters" : [ {
          "name" : "handle_diafanisComputation",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "115649680"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_5"
                },
                "examples" : {
                  "0" : {
                    "value" : "{\"handle_diafanisComputation\":115649680,\"information-XML\":\"<?xml version=\\\"1.0\\\" encoding=\\\"ISO-8859-1\\\" standalone=\\\"yes\\\"?><br><br><paceval.-Computation><br><br> <version>4.04</version><br><br> <function50Characters>-sin(x*cos(x))^(1/y)</function50Characters><br><br> <functionLength>20</functionLength><br><br> <numberOfVariables>2</numberOfVariables><br><br> <useInterval>true</useInterval><br><br> <errorMessage>No error has occurred for this computation object (PACEVAL_ERR_NO_ERROR).</errorMessage><br><br> <errorDetails>[NO ERROR]</errorDetails><br><br> <maxPrecisionType>long double</maxPrecisionType><br><br> <numberOfNodes>11</numberOfNodes><br><br> <numberOfCores>4</numberOfCores><br><br> <numberOfThreads>1</numberOfThreads><br><br> <numberOfThreadsFailure>0</numberOfThreadsFailure><br><br> <cacheTypes>Inner Caching, Outer Caching, Lookahead Caching</cacheTypes><br><br> <cacheHitsACC>46</cacheHitsACC><br><br></paceval.-Computation><br><br>\",\"version-details\":\"[libpaceval_ARM64_LIB.a] and [libpacevalARM64_sharedLIB.so][4.04, 64 bit] developer version (non-commercial use only) - Copyright 2015-2022. - All rights reserved. (paceval.[Registered Trade Mark])\",\"version-number\":4.04}"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "http://diafanis.cloud"
        } ]
      },
      "post" : {
        "description" : "<b>A helper function for getting data from a computation object</b>, such as the number of cores in the system, the number of threads used or the cache hits in the computations with that particular computation object.",
        "parameters" : [ {
          "name" : "handle_diafanisComputation",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "119406224"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_5"
                },
                "examples" : {
                  "0" : {
                    "value" : "{\"handle_diafanisComputation\":119406224,\"information-XML\":\"<?xml version=\\\"1.0\\\" encoding=\\\"ISO-8859-1\\\" standalone=\\\"yes\\\"?><br><br><paceval.-Computation><br><br> <version>4.04</version><br><br> <function50Characters>-sin(x*cos(x))^(1/y)</function50Characters><br><br> <functionLength>20</functionLength><br><br> <numberOfVariables>2</numberOfVariables><br><br> <useInterval>true</useInterval><br><br> <errorMessage>No error has occurred for this computation object (PACEVAL_ERR_NO_ERROR).</errorMessage><br><br> <errorDetails>[NO ERROR]</errorDetails><br><br> <maxPrecisionType>long double</maxPrecisionType><br><br> <numberOfNodes>11</numberOfNodes><br><br> <numberOfCores>4</numberOfCores><br><br> <numberOfThreads>1</numberOfThreads><br><br> <numberOfThreadsFailure>0</numberOfThreadsFailure><br><br> <cacheTypes>Inner Caching, Outer Caching, Lookahead Caching</cacheTypes><br><br> <cacheHitsACC>38</cacheHitsACC><br><br></paceval.-Computation><br><br>\",\"version-details\":\"[libpaceval_ARM64_LIB.a] and [libpacevalARM64_sharedLIB.so][4.04, 64 bit] developer version (non-commercial use only) - Copyright 2015-2022. - All rights reserved. (paceval.[Registered Trade Mark])\",\"version-number\":4.04}"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "http://diafanis.cloud"
        } ]
      },
      "servers" : [ {
        "url" : "http://diafanis.cloud"
      } ]
    }
  },
  "components" : {
    "schemas" : {
      "inline_response_200" : {
        "type" : "object",
        "properties" : {
          "result" : {
            "type" : "string"
          },
          "error-position" : {
            "type" : "string"
          },
          "error-message" : {
            "type" : "string"
          },
          "time-calculate" : {
            "type" : "string"
          },
          "interval-max-result" : {
            "type" : "string"
          },
          "error-type" : {
            "type" : "string"
          },
          "error-type-number" : {
            "type" : "integer"
          },
          "handle_diafanisComputation" : {
            "type" : "integer"
          },
          "version-number" : {
            "type" : "number"
          },
          "interval-min-result" : {
            "type" : "string"
          }
        }
      },
      "inline_response_200_1" : {
        "type" : "object",
        "properties" : {
          "error-position" : {
            "type" : "string"
          },
          "error-message" : {
            "type" : "string"
          },
          "time-create" : {
            "type" : "string"
          },
          "function-10chars" : {
            "type" : "string"
          },
          "function-length" : {
            "type" : "integer"
          },
          "error-type" : {
            "type" : "string"
          },
          "error-type-number" : {
            "type" : "integer"
          },
          "handle_diafanisComputation" : {
            "type" : "integer"
          },
          "version-number" : {
            "type" : "number"
          }
        }
      },
      "inline_response_200_2" : {
        "type" : "object",
        "properties" : {
          "error-position" : {
            "type" : "string"
          },
          "error-message" : {
            "type" : "string"
          },
          "error-type" : {
            "type" : "string"
          },
          "hasError" : {
            "type" : "boolean"
          },
          "error-type-number" : {
            "type" : "integer"
          },
          "handle_diafanisComputation" : {
            "type" : "integer"
          },
          "version-number" : {
            "type" : "number"
          },
          "error-operator" : {
            "type" : "string"
          }
        }
      },
      "inline_response_200_3" : {
        "type" : "object",
        "properties" : {
          "number-of-multiple-values" : {
            "type" : "integer"
          },
          "interval-max-results" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "time-calculate" : {
            "type" : "string"
          },
          "hasError" : {
            "type" : "boolean"
          },
          "error-type-numbers" : {
            "type" : "array",
            "items" : {
              "type" : "integer"
            }
          },
          "handle_diafanisComputation" : {
            "type" : "integer"
          },
          "interval-min-results" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "version-number" : {
            "type" : "number"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "inline_response_200_4" : {
        "type" : "object",
        "properties" : {
          "interval-max-results" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "time-calculate" : {
            "type" : "string"
          },
          "number-of-multiple-computations" : {
            "type" : "integer"
          },
          "handle_diafanisComputations" : {
            "type" : "array",
            "items" : {
              "type" : "integer"
            }
          },
          "hasError" : {
            "type" : "boolean"
          },
          "error-type-numbers" : {
            "type" : "array",
            "items" : {
              "type" : "integer"
            }
          },
          "interval-min-results" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "version-number" : {
            "type" : "number"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "inline_response_200_5" : {
        "type" : "object",
        "properties" : {
          "information-XML" : {
            "type" : "string"
          },
          "version-details" : {
            "type" : "string"
          },
          "handle_diafanisComputation" : {
            "type" : "integer"
          },
          "version-number" : {
            "type" : "number"
          }
        }
      }
    }
  }
}